/* Conteneur de la checkbox */
.custom-checkbox {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

/* Cacher la vraie checkbox */
.custom-checkbox input {
  display: none;
}

/* Carré visible */
.custom-checkbox span {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #000; 
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.2s;
  vertical-align: middle;
}

/* État coché */
.custom-checkbox input:checked + span {
  background-color: #4caf50;
  border-color: #4caf50;
  position: relative;
}

/* Petit tick (facile à remplacer par icône) */
.custom-checkbox input:checked + span::after {
  content: "✔";
  color: white;
  position: absolute;
  top: 0;
  left: 4px;
  font-size: 18px;
}