body {
  font-family: Arial, sans-serif;
  background-color: gradient(to right, #ffefba, #ffffff);
  margin: 0;
  padding: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

#previouspage {
  position: absolute;
  left: 20px;
  width: 150px;
  padding: 14px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  border: none;
}

#previouspage:hover {
  background-color: yellow;
  transform: translateX(-5px);
}

#page-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.search-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#location-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

#number-of-results {
  text-align: center;
  font-size: 24px;
  font-family: Mario256;
  color: yellow;
  font-style: italic;
  text-shadow: black 2px 2px 2px;
  letter-spacing: 3px;
  margin: 0;
}

.search-controls label {
  font-size: 16px;
  color: yellow;
  text-shadow: black 1px 1px 2px;
  white-space: nowrap;
}

#all-locations-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.location-card {
  display: inline-block;
  width: 280px;
  gap: 10px;
  height: auto;
  border: 5px black solid;
  border-radius: 20px;
  background-color: white;
  padding: 25px;
  transition: transform 0.2s ease-in-out;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.location-card:hover {
  cursor: pointer;
  transform: scale(1.05) rotate(2deg);
}

.location-card:hover #image {
  transform: scale(1.05) rotate(-5deg);
}

.location-card #name {
  color: yellow;
  font-family: Mario286;
  text-shadow: black 2px 2px 2px;
  letter-spacing: 2px;
}

.location-card #town {
  color: orange;
}

.location-card #use {
  color: green;
}

.location-card #image {
  align-items: center;
  justify-content: center;
  width: 85%;
  height: auto;
  border: 5px solid black;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  gap: 150px;
  padding: 35px;
}

#prev-btn,
#next-btn {
  width: 20%;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

#prev-btn:hover,
#next-btn:hover {
  background-color: yellow;
  box-shadow: yellow;
  transform: scale(1.1);
}

#page-info {
  text-align: center;
  font-size: 30px;
  font-family: Mario256;
  color: yellow;
  font-style: italic;
  text-shadow: black 2px 2px 2px;
  letter-spacing: 5px;
}
